.scrolling-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    height: 400px; 
    position: relative;
  }
  
  .image-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: scroll 10s linear infinite;
  }
  
  .column-1 {
    animation-direction: normal; 
  }
  
  .column-2 {
    animation-direction: reverse; 
  }
  
  .scrolling-image {
    width: 100px; 
    height: auto;
  }
  
  
  @keyframes scroll {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
